body{
    height: 150vh;
}
h1{
    color: #666;
    text-align: center;
    font-size: 35px;
    text-transform:capitalize;
    font-family: 'Roboto', sans-serif;
}
h3{
    text-align: center;
}
p{
    text-align: center;
}
div.votes{
    display: flex;
    flex-direction: row;
    /* background-color: #ddd; */
    align-items: center;
    justify-content: center;
    width: 100%;
}
div.candidate{
    justify-content: space-around;
    background-color: yellow;
    width: 500px;
    margin: auto;
}
img{
    height: 200px;
    object-fit: cover;
    
}
